{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>{{request.get_host|capfirst}} - Aiakos</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{{bootstrap_theme.url}}" integrity="{{bootstrap_theme.integrity}}" crossorigin="anonymous">

	<style>
	body { padding-top: 70px; }
	.navbar-brand { line-height: 50px; padding: 0 15px; }
	.navbar-brand img { display: inline; height: 24px; padding-right: 10px; }
	</style>
  </head>
  <body>

	<nav class="navbar navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					{{request.get_host|capfirst}} - Aiakos
				</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="{% if request.resolver_match.url_name == 'apps' %}active{% endif %}"><a href="{% url 'apps' %}">Apps</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					{% if user.is_staff %}
					<li>
						<a href="/admin/">Admin</a>
					</li>
					{% endif %}
					{% if user.is_authenticated %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							{% if user.profile.picture %}
							<img src="{{user.profile.picture}}" style="height: 20px;">
							{% else %}
							{{user}}
							{% endif %}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" style="width: 250px;">
							<li><a style="white-space: normal;">
								{% blocktrans trimmed %}
									Signed in as <strong>{{user}}</strong>
								{% endblocktrans %}
							</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="{{user.get_absolute_url}}">Your profile</a></li>
							<li class="{% if request.resolver_match.url_name == 'identities' %}active{% endif %}"><a href="{% url 'extauth:identities' %}">External identites</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="{% url 'custom-password-change' %}">Password change</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="{% url 'logout' %}">Sign out</a></li>
						</ul>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		{% for message in messages %}
			<div class="alert alert-info {{ message.tags }}" role="alert">{{ message }}</div>
		{% endfor %}

		{% block content %}
		{% endblock %}
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script>
	$(document).ready(function(){
		$(".datetime").each(function(){
			$(this).text((new Date($(this).text())).toLocaleString())
		})
	})
	</script>
  </body>
</html>
