{% extends "base.html" %}
{% load i18n static crispy_forms_tags %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<form method="post">
		{% csrf_token %}
		<h2>Your external identities</h2>
		{% for ei in user.externalidentity_set.all %}
		<div class="media">
			<div class="media-left">
				{% if ei.profile.profile %}
				<a href="{{ei.profile.profile}}">
				{% endif %}
					<img class="media-object" src="{{ei.profile.picture}}" style="max-height: 50px; max-width: 50px">
				{% if ei.profile.profile %}
				</a>
				{% endif %}
			</div>
			<div class="media-body">
				<h4 class="media-heading">{{ei.external_name}} @ {{ei.provider}}</h4>
				<button type="submit" name="disconnect" value="{{ei.id}}" class="btn btn-default btn-xs">Disconnect</button>
			</div>
		</div>
		{% endfor %}
		</form>
	</div>

	<div class="col-md-6">
		<h2>Connect another identity</h2>
		<div class="row">
		<div class="col-md-8">
		{% for provider in identity_providers %}
		<a href="{{provider.login_url}}" class="btn btn-default btn-block">
		{% blocktrans trimmed %}
			Sign in with {{provider}}
		{% endblocktrans %}
		</a>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
