{% extends 'base.html' %}
{% load i18n static crispy_forms_tags %}

{% block content %}

<div class="row">
<div class="col-md-12">
	<h2>{% trans 'Password change' %}</h2>
	<div class="row">
		<form method="post">
		  {% csrf_token %}
		  {{ form|crispy }}
		  <button type="submit">Save changes</button>
		</form>
	</div>
</div>
</div>

{% endblock %}
