{% extends 'base.html' %}
{% load i18n static crispy_forms_tags %}

{% block content %}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>{% trans "Change password" %}</h2>
		<div class="row">

			<form method="post">
				{% csrf_token %}
				{{ form|crispy }}

				<button type="submit" class="btn btn-primary btn-block btn-lg">{% trans "Change password" %}</button>
			</form>

		</div>
	</div>
</div>

{% endblock %}
